<h3>Make a bet for this round:</h3>

<%= session[:player_name] %> has $500.

<form action='/bet' method='post'>
  <input type='integer' name='a_bet' />
  <br/>
  <input type='submit'class='btn' />
</form>
